/*
|* Folhas de estilo do tamplate do site.
|* By Edison
|*/

/* Importa algumas bibliotecas externas. */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/*RESET - Normalize */
* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: roboto, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

/* Define a fonte e o funco padrão da página */

html,
body {
    font-family: roboto, sans-serif;
    /* Criamos uma nova unidade chamada 'rem' → 1rem = 16px */
    font-size: 16px;
    /* Fundo */
    /* background-attachment: fixed; */

    background-color: rgb(16, 16, 17);
    background-attachment: rgb(8, 8, 8);
    background-image: url('/img/newbackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

/* Limiter e centralize a página usando 'wrap' */

#wrap {
    position: relative;

    background-color: rgba(5, 5, 5, 0.267);
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* Renderiza cabeçalho. */
#wrap>header {
    background-color: orange;
    margin: 0.5rem;
    border-radius: .35rem;
    border: 1px dotted rgb(221, 200, 200);
    display: flex;
    align-items: center;


}

#wrap>header a {
    font-size: 4rem;
    color: orange(231, 235, 0);
    -webkit-text-stroke: .5px rgb(255, 255, 255);
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    text-decoration: none;
    border-radius: .35rem;
    transition: .2s;
}

#wrap>header i {
    display: block;
}

#wrap>header h1 {
    margin: 0;
    text-align: center;
    letter-spacing: .25rem;
    color: black
}

#wrap>header h1 small {
    display: block;
    font-weight: normal;
    font-size: .8rem;
    letter-spacing: normal;
}


#wrap>nav {
    background-color: black;
    border: 1px dotted grey(24, 24, 24);
    border-radius: .35rem;
    margin: 0 .5rem .5rem .5rem;
    display: flex;
    justify-content: flex-end;
}

#wrap>nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .65rem .75rem;
    color: orange;
    text-decoration: none;
    border-radius: .35rem;
    transition: .2s;
}


#wrap>nav a:first-child {
    margin-right: auto;
}

#wrap>nav a:hover {
    background-color: orange;
    color: #2b2323;
}

#wrap>nav a i {
    font-size: 2rem;
    margin-bottom: .4rem;
}

/* Conteúdo */

#wrap>main {
    display: flex;
    margin: 0 .5rem;
    flex-grow: 1;
    flex-direction: column;
}

#wrap>main>article {
    background-color: orange;
    border-radius: .35rem;
    border: 1px dotted grey;
    flex-grow: 1;
    padding: 0 1rem;
}

#wrap>main>aside {
    background-color: orange;
    margin-top: .5rem;
    border-radius: .35rem;
    border: 1px dotted rgb(0, 0, 0);
}

/* Roda pé  */

#wrap>footer {
    background-color: black;
    margin: .5rem;
    border-radius: .35rem;
    border: 1px dotted black(0, 0, 0);

}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted grey;

}

.footer-top div {
    color: orange;
    text-align: center;
}

.footer-top a {
    color: orange;
    font-size: 1.5rem;
    padding: .25rem;
    align-items: center;

}

.footer-bottom {
    display: flex;
    color: rgb(218, 151, 28);
    justify-content: space-around;
}

.footer-bottom h4 {
    margin: .5rem 0;
}


.footer-bottom ul {
    list-style: none;
    padding: 0;
    line-height: 1.5;
}

.footer-bottom a {
    color: orange;
    text-decoration: none;

}

.footer-bottom a:hover {
    color: #af333392;
    text-decoration: none;
}


.nbsp {
    height: .1px;
    margin: 0;
    border: .25rem solid transparent;
}

/***********************/
/* Em larguras maiores */
@media screen and (min-width: 480px) {
    #wrap>nav {
        justify-content: space-around;
    }

    #wrap>nav a:first-child {
        margin-right: 0;
    }

    #wrap>nav a {
        flex-direction: row;
    }

    #wrap>nav a i {
        font-size: 1.2rem;
        margin-bottom: 0;
        margin-right: .5rem;
    }
}



@media screen and (min-width: 768px) {

    #wrap>main {
        flex-direction: row;
    }


    #wrap>main>aside {
        margin-top: 0;
        margin-left: .5rem;
        margin-right: .13rem;
        min-width: 220px;
        max-width: 220px;
    }

}

#gadgets {
    background-color: lightslategrey;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 200px;
    border-radius: .35rem 0 0 .35rem;
    padding: .25rem;
}

#gadgets ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


#gadgets a {
    color: white;
    font-size: 2rem;
}
#gadgets a:hover {
    color: rgba(5, 5, 5, 0.856);
}